@import url(style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(storage/img/fondo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.3;
}

header {
    flex-wrap: center;
}
