:root{
    --color-primary: #e58f00;
    --color-secundary: #17171e;
    --color-ternario: #323239;
    --color-font: #fff;
}

/* Fuente Click Aqui : https://fonts.google.com/specimen/Roboto+Slab?preview.text=Contact%20Us%20For&query=%5BAachen */
/* Iconos Click Aqui: https://boxicons.com/ */